table {
    border-collapse: collapse;

}

.pad {
    border: 2px solid #808080;

    border-right-color: #fff;

    border-bottom-color: #fff;

}



a {
    color: #3e5a73;
    text-decoration: none;
}